apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: "{{ application_name }}"
  namespace: tekton-pipelines
spec:
  params:
    - name: gitrevision
      value: $(body.head_commit.id)
    - name: namespace
      value: tekton-pipelines
    - name: tag
      value: $(body.ref)  
    - name: gitrepositoryurl
      value: "https://github.com/$(body.repository.full_name)"
    - name: repoName
      value: $(body.repository.name)